<!DOCTYPE html>

<html>


<head>
  <meta charset="utf-8">
  <title>
    $if(short-title)$
      $short-title$
    $else$
      $title$
    $endif$
  </title>
  <link rel="stylesheet" type="text/css" href="/css/writings/base_post.css" />
</head>


<body>
<nav>
  <ol>
    <li>
      <!-- The Hexagon'd E -->
      <div id="hex">
        <a href="/">
          <div class="hex-40">
            <div class="hex-outer">
              <div class="hex-inner color-faceless-taupe">
                <span class="hex-content"> E </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </li>
    <!-- The breadcrumbs -->
    $for(breadcrumb)$
      <li class="breadcrumb">
        <a href="$breadcrumb.link$">
            $breadcrumb.name$
        </a>
      </li>
    $endfor$
      <li class="breadcrumb">
        <a href="">
          $if(short-title)$
            $short-title$
          $else$
            $title$
          $endif$
        </a>
      </li>
  </ol>
</nav>


<article>
  $body$

  <section class="endnote">
    <hr class="gradient">
    <p>
      Any questions, comments, suggestions about this post? Or anything
      else? Feel free to send me an
      email: <a href="mailto:TheErikSwanson@gmail.com">TheErikSwanson@gmail.com</a>.
    </p>
  </section>

</article>


<footer class="ishadow">
  <div class="footer-content flex-lcr">
    <div class="flex-lcr-left">Erik Swanson</div>
    <div class="flex-lcr-center"></div>
    <div class="flex-lcr-right"><a href="/">Home</a></div>
  </div>
</footer>
</body>


</html>
