<!DOCTYPE html>

<html>


<head>
  <meta charset="utf-8">
  <title>
    $if(short-title)$
      $short-title$
    $else$
      $title$
    $endif$
  </title>
</head>


<body>
<nav>
  <!-- The Hexagon'd E -->
  <div id="hex">
    <a href="/">
      <div class="hex-40">
        <div class="hex-outer">
          <div class="hex-inner color-faceless-taupe">
            <span class="hex-content"> E </span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <!-- The breadcrumbs -->
  <ol>
    $for(breadcrumb)$
      <a href="$breadcrumb.link$">
        <li class="breadcrumb">
          $breadcrumb.name$
        </li>
      </a>
    $endfor$
    <a href="">
      <li class="breadcrumb">
        $if(short-title)$
          $short-title$
        $else$
          $title$
        $endif$
      </li>
    </a>
  </ol>
</nav>


<article>
  <h1 id="title">$title$</h1>
  <h1 id="subtitle">$subtitle$</h1>
  $body$
</article>


<section class="endnote">
  <hr class="gradient">
  <p>
    Any questions, comments, suggestions about this post? Or anything
    else? Feel free to send me an
    email: <a href="mailto:TheErikSwanson@gmail.com">TheErikSwanson@gmail.com</a>.
  </p>
</section>


<footer>
  <div>Erik Swanson</div>
  <div><a href="/">Home</a></div>
</footer>
</body>


</html>
