@import '../base';

@import '../hex-lib';
@import '../top-nav';

@import 'gradient_rule';


body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

article {
    margin-left: 10%;
    margin-right: 10%;
    padding: 80px 0px 20px 0px;
    line-height: 1.5em;
    font-size: 1.1rem;
    max-width: 800px;

    p, ol, ul, blockquote, table, figure, pre {
        margin-bottom: 1.5em;
    }

    blockquote {
        margin-left: -5px;
        padding-left: 10px;
        border-left: 5px solid $color-field-of-thorns-black;
    }

    q {
        &:before { content: '\201C'; }
        &:after { content: '\201D'; }
    }

    ul > li {
        list-style-type: circle;
    }
    ol > li {
        list-style-type: decimal;
    }
    li > {
        p, ol, ul, blockquote, table, figure {
            margin-bottom: 0.5em; }
        ol, ul {
            margin-left: 1.5em; }
    }

    figure {
        img {
            display: block;
            border: 1px solid $color-field-of-thorns-black;
            margin: 0 auto; }
        figcaption {
            margin: 10px 40px 0 40px;
            line-height: 1.3em;
            font-size: 0.9em;
            font-style: italic; }
    }
}

#title {
    font-size: 2.5rem;
    line-height: 1em;
    margin-bottom: 15px;
    text-decoration: none;
}
#subtitle {
    font-size: 2rem;
    margin-bottom: 30px;
    text-decoration: none;
}


.centering {
    text-align: center;
}

.color-faceless-taupe {
    @include color-hex($color-faceless-taupe);
}

.ishadow {
    box-shadow: inset 0px 1px 1px rgba($color-field-of-thorns-black, 0.2);
}

.flex-lcr {
    display: flex;
    flex-direction: row;

    .flex-lcr-left {
        order: 0;
        flex-grow: 0;
    }
    .flex-lcr-center {
        order: 1;
        flex-grow: 1;
    }
    .flex-lcr-right {
        order: 2;
        flex-grow: 0;
    }
}

.endnote {
    margin-top: 60px;
    font-size: 0.9rem;
    font-style: italic;
}
