@import '../base';

@import '../hex-lib';
@import '../headerfooter';

#writings-list {
    margin-left: 10%;
    margin-right: 10%;
    padding: 80px 0px 0px 0px;

    h1 {
        position: relative;
        left: -6%;
        padding-bottom: 1em;
        font-size: 2em;
        font-family: BlackboxMonoSerifBold, Courier, mono;
    }

    li {
        margin-bottom: 1em;
        width: 100%;
        font-size: 1.1em;
        line-height: 1.5em;

        &:before {
            position: absolute;
            left: 5%;
            content: "\261e"}
    }

    a {
        @include ease-in-out;

        display: block;
        width: 100%;
        padding-right: 5%;
        border-right: solid $color-glass-white 2px;
        color: $color-toy-blue;
        text-decoration: none;
        background-color: $color-glass-white;

        &:visited { border-right-color: $color-field-of-thorns-black; }
        &:hover { color: $color-berry-munch-pink;}
    }
}

.section {
    margin-bottom: 80px;
}
