@import '../colors';

/* Minimalist Table
     - As described in
       http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/
*/
.simple-table {
    background: $color-glass-white;
    color: $color-field-of-thorns-black;
    font-family: Helvetica, Ariel, sans-serif;
    font-size: .9em;
    margin-left: 10%;
    margin-bottom: 1.5em;
    width: 80%;
    border-collapse: collapse;
    text-align: center;

    th {
        font-size: 1em;
        font-weight: normal;
        padding: 5px 8px;
        border-bottom: 2px solid $color-field-of-thorns-black;
    }

    td {
        border-bottom: 2px solid $color-faceless-taupe;
        padding: 2px 4px;
    }

    tbody tr:hover td {
        background: $color-faceless-taupe;
    }
}
