/*########################################################################
 about.css

 This is the file referenced by my about page. It contains basic
 styling for that page
########################################################################*/

/*------------------------------------------------------------------------
 Base Rules
------------------------------------------------------------------------*/

/*
Color Scheme

glass
RGB: 247, 249, 248
Hex: F7F9F8

faceless
RGB: 240, 241, 235
Hex: F0F1EB

Will
RGB: 254, 223, 130
Hex: FEDF82

Berry Much
RGB: 242, 83, 113
Hex: F25371

Toy Blue
RGB: 0, 122, 189
Hex: 007ABD

Blue Tint
RGB: 100, 100, 189
Hex: 6464BD

a field of thorns
RGB: 6, 0, 0
Hex: 060000
*/

html {}

body {

    background: rgba(247, 249, 248, 1); /*glass*/
    color: rgba(6, 0, 0, 1); /*a field of thorns*/
}


/*------------------------------------------------------------------------
 Layout Rules
------------------------------------------------------------------------*/

#content {
    position: relative;
}

#description {
    margin-left: 10px;
}

/*------------------------------------------------------------------------
 Module Rules
------------------------------------------------------------------------*/

/* Top of content bar */
#content {

}

/*------------------------------------------------------------------------
 State Rules
------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
 Theme Rules
------------------------------------------------------------------------*/

