@import 'reset';

@import 'colors';
@import 'fonts';
@import 'state';


html {
    height: 100%;
}

body {
    background: $color-glass-white;
    color: $color-field-of-thorns-black;
    font-family: Helvetica, Ariel, sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
}