@import 'reset';

@import 'colors';
@import 'fonts';
@import 'state';


html {
    height: 100%;
}

body {
    background: $color-glass-white;
    color: $color-field-of-thorns-black;
    font-family: Helvetica, Ariel, sans-serif;
    height: 100%;
}

a {
    @include ease-in-out;

    text-decoration: none;
    color: $color-toy-blue;

    &:link {
        color: $color-toy-blue;
        text-decoration: none; }
    &:visited { color: $color-tint-blue; }
    &:hover { color: $color-berry-munch-pink; }
    &:active { color: $color-berry-munch-pink; }
}

h1, h2, h3, h4, h5, h6 {
    font-family: BlackboxMonoSerifBold, Courier, mono;
    text-decoration: underline;
    margin-bottom: 5px;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
pre {
    font-family: Courier, mono;
}

table {
    background: $color-glass-white;
    color: $color-field-of-thorns-black;
    font-family: Helvetica, Ariel, sans-serif;
    font-size: 0.9em;
    margin-left: 10%;
    margin-bottom: 1.5em;
    width: 80%;
    border-collapse: collapse;
    text-align: center;

    th {
        font-size: 1em;
        font-weight: normal;
        padding: 5px 8px;
        border-bottom: 2px solid $color-field-of-thorns-black;
    }

    td {
        border-bottom: 2px solid $color-faceless-taupe;
        padding: 2px 4px;
    }

    tbody tr:hover td {
        background: $color-faceless-taupe;
    }
}

footer {
    flex: 0 0 24px;
    background-color: $color-faceless-taupe;
    padding-top: 8px;

    .footer-content {
        max-width: 800px;
        margin-left: 10%;
        maring-right: 10%;
    }

    a {
        @include ease-in-out;

        color: $color-toy-blue;
        text-decoration: none;

        &:hover { color: $color-berry-munch-pink; }
        &:active { color: $color-berry-munch-pink; }
    }
}
