$color-glass-white:           rgb(247, 249, 248);
$color-faceless-taupe:        rgb(240, 241, 235);
$color-will-yellow:           rgb(254, 223, 130);
$color-berry-munch-pink:      rgb(242, 83,  113);
$color-toy-blue:              rgb(0,   122, 189);
$color-tint-blue:             rgb(100, 100, 189);
$color-field-of-thorns-black: rgb(6,   0,   0);

.color-faceless-taupe {
    background-color: $color-faceless-taupe !important;
    border-color: $color-faceless-taupe !important;
}