@import 'base';

#top-bar {
    position: relative;
    width: 100%;
    height: 65px;

    font-family: BlackboxMonoSerifBold, Courier, mono;
    font-size: 1.1em;

    background-color: $color-faceless-taupe;
    box-shadow: inset 0px -1px 1px rgba($color-field-of-thorns-black, 0.2);

    a {
        @include ease-in-out;

        color: $color-toy-blue;

        &:hover { color: $color-berry-munch-pink; }
        &:active { color: $color-berry-munch-pink; }
    }
}

#hex {
    float: left;
    position: relative;
    margin-right: 15px;
    left: 15px;
    top: 15px;
}

footer {
    height: 24px;
    width: 100%;
    padding-top: 8px;
    background-color: $color-faceless-taupe;
}

.breadcrumb {
    float: left;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;

    &:before { content: ": "; }
}
