/*########################################################################
 headerfooter.css

 This file is referenced by any page that uses a header or footer. It
 contains styles for the site wide headers and footers.

 By "header" I am primarily refering to the "nav-bar"

 By "footer" I am refering to the date/copywrite/attribution container
 at the bottom of the page. This file does not, however, contain any
 styles for how to put things in this footer, just how it should look.
########################################################################*/

/*------------------------------------------------------------------------
 Base Rules
------------------------------------------------------------------------*/

/*
Color Scheme

glass
RGB: 247, 249, 248
Hex: F7F9F8

faceless
RGB: 240, 241, 235
Hex: F0F1EB

Will
RGB: 254, 223, 130
Hex: FEDF82

Berry Much
RGB: 242, 83, 113
Hex: F25371

Toy Blue
RGB: 0, 122, 189
Hex: 007ABD

Blue Tint
RGB: 100, 100, 189
Hex: 6464BD

a field of thorns
RGB: 6, 0, 0
Hex: 060000
*/

/*------------------------------------------------------------------------
 Layout Rules
------------------------------------------------------------------------*/

#top-bar {
    position: relative;
    width: 100%;
    height: 65px;
}

#hex {
    float: left;
    position: relative;
    margin-right: 15px;
    left: 15px;
    top: 15px;
}


footer {
    height: 24px;
    width: 100%;
    padding-top: 8px;
    background: rgba(240, 241, 235, 1);
}



/*------------------------------------------------------------------------
 Module Rules
------------------------------------------------------------------------*/

/* Navigation Bar styling */
#top-bar {
    font-family: BlackboxMonoSerifBold, Courier, mono;
    font-size: 1.1em;

    background-color: rgba(240, 241, 235, 1);
    box-shadow: inset 0px -1px 1px rgba(6, 0, 0, .2);
}
.breadcrumb {
    float: left;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;

}
.breadcrumb:before {
    content: ": ";
}
#top-bar a {
    color: rgba(0, 122, 189, 1); /* Toy Blue */
}


/* Inset Shadow */
.ishadow {
    box-shadow: inset 0px 1px 1px rgba(6, 0, 0, .2);
}

/*------------------------------------------------------------------------
 State Rules
------------------------------------------------------------------------*/

/* Fade the link to red when you touch it */
#top-bar a:hover {
    color: rgba(242, 83, 113, 1); /* Berry Munch */
}
#top-bar a:active {
    color: rgba(242, 83, 113, 1); /* Berry Munch */
}
#top-bar a {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}


/*------------------------------------------------------------------------
 Theme Rules
------------------------------------------------------------------------*/
