/*######################################################################
homepage.css

This file is referenced by my index page. It contains basic styling
for that page
######################################################################*/


/*----------------------------------------------------------------------
Base Rules 
----------------------------------------------------------------------*/

/*
Color Scheme

glass
RGB: 247, 249, 248
Hex: F7F9F8

faceless
RGB: 240, 241, 235
Hex: F0F1EB

Will
RGB: 254, 223, 130
Hex: FEDF82

Berry Much
RGB: 242, 83, 113
Hex: F25371

Toy Blue
RGB: 0, 122, 189
Hex: 007ABD

Blue Tint
RGB: 100, 100, 189
Hex: 6464BD

a field of thorns
RGB: 6, 0, 0
Hex: 060000
*/

html {
    height: 100%;
}

body {
    background: rgba(247, 249, 248, 1); /*glass*/
    color: rgba(6, 0, 0, 1); /*a field of thorns*/
    font-family: Helvetica, Ariel, sans-serif;
    height: 100%;
}


/*----------------------------------------------------------------------
Layout Rules 
----------------------------------------------------------------------*/

#homepage-heading { 
    width: 100%; 
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

#title { 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 560px;
}

#main-nav {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#homepage-main {
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;
    font-size: 1em;
}

#photograph {
    float: left;
    width: 300px;
    margin-right: 5%;

   /* background-color: black;*/
}

#content {
    padding-top: 10px;
    font-size: 1.1em;
    line-height: 1.5em;
}

/*----------------------------------------------------------------------
Module Rules 
----------------------------------------------------------------------*/

/* My Name */
#title > h1 {
    font-family: BlackboxMonoSerifBold, Courier, mono;
    font-size: 4em;
}


/* Navigation Bar */
.nav-elem {

    font-family: Helvetica, sans-serif;
    font-size: 1.2em;

    padding-top: 10px;
    width: 50%;

    float: left;

    text-align: center;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(6, 0, 0, 1);

    color: rgba(6,0,0,1);
}

/* Navigation Links */
.nav-elem a {
    position: relative;
    height: 1px;
    width: 100%;
    text-decoration: none;
    color: rgba(6,0,0,1);
}


/* Personal Statement Orgainization */
#content > p {
    text-align: justify;
    margin-bottom: .5em;
}

/* Picture formating */
#photograph > img {
    width: 300px;
}

/* Photograph attribution */
.attribution {
    float: right;
    padding-right: 10%;
    font-size: .8em;
}

.attribution a {
    text-decoration: none;
}

    
/* Force footer to be on the bottom */
.wrapper {
    min-height: 100%;
    margin: 0 auto -24px;
}
.vspace {
    height: 24px;
}
footer {
    height: 24px;
}
.vspace, footer {
    clear: both;
}


/*----------------------------------------------------------------------
 * State Rules 
----------------------------------------------------------------------*/


/* Do nice transitions on the navigation links */
.nav-elem:hover {
    color: rgba(242, 83, 113, 1);

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(242, 83, 113, 1);
}
.nav-elem a:hover {
    color: rgba(242, 83, 113, 1);
}
.nav-elem a:active {
    color: rgba(242, 83, 113, 1);
}
nav#main-nav a, nav#main-nav li {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

/* Media Queries
 *
 * Make a single set of rules that makes the homepage attractive on 
 * mobile devices.
 *
 * We define a "mobile device" as anything with `width` less than 500
*/
@media all and (max-device-width: 750px), (max-width: 750px) {
    body {
    }
    #photograph {
        float: none;
        display: block;
	margin-left: auto;
	margin-right: auto;
    }
    #content {
        float: none;
	display: block;
	padding-top: 2em;
    }
}


/*----------------------------------------------------------------------
Theme Rules 
----------------------------------------------------------------------*/

